
@{
	ViewData["Title"] = "Login";
}

@using AspNetCoreMvcAuthSample.ViewModel;
@model  LoginViewModel

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<section>
				<form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">
					<h4>Use a local account to login.</h4>
					<hr />

					<div class="form-group">
						<label asp-for="Email"></label>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Password"></label>
						<input asp-for="Password" type="password" class="form-control" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-default" >Login</button>
					</div>
				</form>
			</section>
		</div>
	</div>

</div>


@*<div class="table">
	<form asp-controller="Home" asp-action="Login" method="post">
		<div class="form-group">
			<label >UserName</label>
			<input type="text" class="form-control" name="username" placeholder="Enter username">
		</div>
		<div class="form-group">
			<label for="">Password</label>
			<input type="password" name="password" class="form-control" placeholder="Password">
		</div>

		<button type="submit" class="btn btn-primary">Login</button>
	</form>
</div>*@

